@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-app: #ffffff;
  --color-foreground: #0a0a0a;
  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;
  --color-popover: #ffffff;
  --color-popover-foreground: #0a0a0a;
  --color-primary: #030213;
  --color-primary-foreground: #ffffff;
  --color-secondary: #eceef2;
  --color-secondary-foreground: #030213;
  --color-muted: #ececf0;
  --color-muted-foreground: #717182;
  --color-accent: #e9ebef;
  --color-accent-foreground: #030213;
  --color-destructive: #d4183d;
  --color-destructive-foreground: #ffffff;
  --color-border: #0000001a;
  --color-input: transparent;
  --color-input-background: #f3f3f5;
  --color-switch-background: #cbced4;
  --color-font-weight-medium: 500;
  --color-font-weight-normal: 400;
  --color-ring: #a1a1a1;
  --color-chart-1: #f54a00;
  --color-chart-2: #009689;
  --color-chart-3: #104e64;
  --color-chart-4: #ffba00;
  --color-chart-5: #fd9a00;
  --color-radius: 0.625rem;
  --color-sidebar: #fafafa;
  --color-sidebar-foreground: #0a0a0a;
  --color-sidebar-primary: #030213;
  --color-sidebar-primary-foreground: #fafafa;
  --color-sidebar-accent: #f5f5f5;
  --color-sidebar-accent-foreground: #171717;
  --color-sidebar-border: #e5e5e5;
  --color-sidebar-ring: #a1a1a1;
}

.dark {
  --color-app: #1a222f;
  --color-foreground: #e8eaed;
  --color-card: #212936;
  --color-card-foreground: #e8eaed;
  --color-popover: #212936;
  --color-popover-foreground: #e8eaed;
  --color-primary: #60a5fa;
  --color-primary-foreground: #ffffff;
  --color-secondary: #2d3748;
  --color-secondary-foreground: #e8eaed;
  --color-muted: #2d3748;
  --color-muted-foreground: #9ca3af;
  --color-accent: #374151;
  --color-accent-foreground: #e8eaed;
  --color-destructive: #82181a;
  --color-destructive-foreground: #fb2c36;
  --color-border: #374151;
  --color-input: #2d3748;
  --color-ring: #60a5fa;
  --color-font-weight-medium: 500;
  --color-font-weight-normal: 400;
  --color-chart-1: #1447e6;
  --color-chart-2: #00bc7d;
  --color-chart-3: #fd9a00;
  --color-chart-4: #ad46ff;
  --color-chart-5: #ff2056;
  --color-sidebar: #171717;
  --color-sidebar-foreground: #fafafa;
  --color-sidebar-primary: #1447e6;
  --color-sidebar-primary-foreground: #fafafa;
  --color-sidebar-accent: #262626;
  --color-sidebar-accent-foreground: #fafafa;
  --color-sidebar-border: #262626;
  --color-sidebar-ring: #525252;
}

html {
  font-size: 16px;
  font-weight: medium;
  line-height: 1.5;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-app text-foreground;
  }
  main > section:nth-child(even) {
    @apply bg-card/50;
  }
}
